/* styles for bullet */
.bullet {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #32beff;
    border-radius: 50%;
}

.bullet-hurtbox {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
